/* STYLING CODE FOR THE LOGIN VIEW */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightblue;
}

.login > .buttons {
  display:flex;
  flex-direction: column;
}

.login > .form, .buttons {
  display: flex;
  flex-direction: column;
}

.login > .buttons > #admin-btn, #guest-btn {
  margin: 5px;
}

.login > .form > .username, .password {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
}

.login > .form > .username {
  margin-bottom: 2px;
}

.login > .form > .password {
  margin-bottom: 2px;
}

#username-label, #username-input, #password-label, #password-input {
  margin: 10px;
}






