/* COLORS */
:root {
  --black: #000000;
  --midnight-blue: #1b263b;
  --silver-blue: #415a77;
  --clay-blue: #778da9;
  --pale-white: #e0e1dd;
}

button:hover {
  cursor: pointer;
}

/* STYLING CODE FOR THE LOGIN VIEW */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--midnight-blue);
}

.login > .buttons {
  display:flex;
  flex-direction: column;
}

.login > .form {
  background-color: var(--silver-blue);
  margin-bottom: 10px;
}

#txt-or {
  text-align: center;
  color: var(--pale-white);
}

.login > .form, .buttons {
  display: flex;
  flex-direction: column;
}

.login > .buttons > #admin-btn, #guest-btn {
  margin: 5px;
}

.login > .form > .username, .password {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid white;
}

#username-label, #username-input, #password-label, #password-input {
  margin: 10px;
}

/* STYLING CODE FOR THE VENUES VIEW */

.venues {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: var(--midnight-blue);
}

.venues > #title {
  color: var(--pale-white);
}

.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--silver-blue);
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
}

.main-bar-btn {
  width: 100px;
}

#venue-search-inp {
  font-size: 20px;
  width: 40vw;
  margin: 0px 10px 0px 10px;
}

#venues-data-container {
  background: var(--silver-blue);
  border: 2px solid black;
  height: 100vh;
  width: 70vw;
  overflow-y: auto;
}

.venue {
  display: flex;
  flex-direction: row;   
  justify-content: center; 
  border: 1px solid white;
  height: 150px;
  margin: 5px 0px 5px 0px;
}

.venue > .info-container > h3 {
  background: rgb(50, 50, 50);
  width: 100%;
  text-align: center;
  border: 1px solid black;
  color: var(--pale-white);
}

.venue > .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.info-container > h3 {
  margin: 5px;
}

.venue > .info-container > .show-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow-y: auto;
  background: var(--clay-blue);
  border: 3px solid black;
}

.venue > .info-container > .show-list > .show {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
  background: var(--silver-blue);
}

.show > p {
 margin: 2px;
 color: var(--pale-white);
 text-decoration: solid;
}

/* STYLING CODE FOR THE CREATE VENUE VIEW */

.btn-back {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 50px;
  height: 20px;
}

.create-venue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-venue > .form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  padding-top: 7%;
  padding-left: 10px;
  padding-right: 10px;
}

.create-venue > .form > div {
  display: flex;
  justify-content: space-between;
}

.create-venue > .form > #venuePassword > label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7%;
}

#btn-create-venue {
  margin-top: 20px;
  align-self: center;
  width: 250px;
}

/* STYLING CODE FOR THE VENUE VIEW VIEW */

.venue-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: var(--midnight-blue);
}

.venue-view > h1 {
  color: var(--pale-white);
}

.venue-view > .buttons {
  display:flex;
  flex-direction: column;
}

.venue-view > .form, .button {
  display: flex;
  flex-direction: column;
}

#venue-view-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 5px solid black;
  width: 100%;
  height: 100%;
}

#venue-view-buttons > button {
  width: 125px;
  height: 30px;
  margin: 20px;
}

#label-show-id {
  color: var(--pale-white);
}

#venue-view-show-list, #block-div > #block-list, #seats-canvas, #purchase-div {
  background: var(--silver-blue);
}

#venue-view-show-list, #block-div > #block-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 85%;
  border: 1px solid white;
  padding-top: 5px;
  padding-left: 5px;
}

#venue-view-show-list > .show-venue-view {
  font-size: 20px;
  margin: 2px;
  text-align: center;
  width: 95%;
  border: 1px solid black;
  background: var(--clay-blue);
  border: 1px solid white;
}

#venue-view-show-list > .show-venue-view:hover {
  cursor: pointer;
}

#venue-view-show-list > .show-venue-view > #showName {
  color: black;
}

#venue-view-content > #venue-view-show-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
}

#venue-view-show-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
}

#venue-view-show-div > h2 {
  color: var(--pale-white);
}

#seats-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}

#seats-div > h2 {
  color: var(--pale-white);
}

#seats-div > canvas {
  border: 1px solid white;
  width: 95%;
  height: 80%;
}

#seats-div > #purchase-div {
  border: 1px solid white;
  width: 95%;
  height: 7%;
}

#venue-view-content > #seats-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  height: 100%;
}

#venue-view-content > #block-div { 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

#venue-view-content > #block-div > h2 {
  color: var(--pale-white);
}

#venue-view-content > #venue-view-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.show-venue-view > p {
  font-size: 12px;
}


/* STYLING CODE FOR THE CREATE SHOW VIEW */

.create-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-show > .form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  padding-top: 7%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
}

.create-show > .form > div {
  display: flex;
  justify-content: space-between;
}

.create-show > .form > div > input {
  width: 50%;
}

#btn-create-show {
  margin-top: 20px;
  align-self: center;
  width: 250px;
}