/* STYLING CODE FOR THE LOGIN VIEW */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightblue;
}

.login > .buttons {
  display:flex;
  flex-direction: column;
}

.login > .form, .buttons {
  display: flex;
  flex-direction: column;
}

.login > .buttons > #admin-btn, #guest-btn {
  margin: 5px;
}

.login > .form > .username, .password {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
}

.login > .form > .username {
  margin-bottom: 2px;
}

.login > .form > .password {
  margin-bottom: 2px;
}

#username-label, #username-input, #password-label, #password-input {
  margin: 10px;
}

/* STYLING CODE FOR THE VENUES VIEW */

.venues {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: lightblue;
}

.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: lightgray;
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
}

.main-bar-btn {
  width: 100px;
}

#venue-search-inp {
  font-size: 20px;
  width: 40vw;
  margin: 0px 10px 0px 10px;
}

#venues-data-container {
  background: lightcoral;
  border: 2px solid black;
  height: 100vh;
  width: 70vw;
  overflow-y: auto;
}

.venue {
  display: flex;
  flex-direction: row;   
  justify-content: center; 
  border: 1px solid white;
  height: 150px;
  margin: 5px;
}

.venue > .info-container, .btn-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.venue > .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10%;
  padding: 10px;
}

.venue > .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.info-container > h3 {
  margin: 5px;
}

.venue > .info-container > .show-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow-y: auto;
  background: lightgray;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}

.venue > .info-container > .show-list > .show {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3px;
  background: lightpink;
}

.show > p {
 margin: 2px;
}

/* STYLING CODE FOR THE CREATE VENUE VIEW */

.create-venue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-venue > .form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  padding-top: 7%;
  padding-left: 10px;
  padding-right: 10px;
}

.create-venue > .form > div {
  display: flex;
  justify-content: space-between;
}

.create-venue > .form > #venuePassword > label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7%;
}

#btn-create-venue {
  margin-top: 20px;
  align-self: center;
  width: 250px;
}
